<!DOCTYPE html>
<html>
<head> <!--Contenedor de metadata y otras cosas como el titulo-->
    <title>403: Forbidden</title>
</head>

<body id="body">
<header id="main-header">
        <h1>No tienes permitido ver este contenido</h1>
</body>

</html>
