{{> templates/base }}
{{#partial "tituloYcss"}}
    <link rel = "stylesheet" type="text/css" href = "http://localhost:8080/css/403.css">
    <title> 403: Forbidden</title>
{{/partial}}
{{> templates/base }}

{{#partial "contenido"}}
    <body id="body">
        <h1>No tienes permitido ver este contenido</h1>
    </body>
{{/partial}}
{{> templates/base }}

