{{> templates/base }}
{{#partial "tituloYcss"}}
        <link rel = "stylesheet" href = "css/MenuPrincipal.css">
        <title>Inicio</title>
 {{/partial}}
 {{> templates/base }}

 {{#partial "contenido"}}
        <div id="base">
            <div id="contenedorPrincipal">
                <h1 id="titulo">Bienvenido</h1>
                <h2 id="subtitulo">¿Qué desea hacer?</h2>
            </div>
            <div id="contenedorFuncional">

            </div>

        </div>
{{/partial}}
{{> templates/base }}
