{{> templates/base }}
{{#partial "tituloYcss"}}
        <link rel = "stylesheet" href = "css/MenuPrincipal.css">
        <title>Inicio</title>
 {{/partial}}
 {{> templates/base }}

 {{#partial "contenido"}}
        <div id="base">
            <div id="contenedorPrincipal">
                <h1 id="titulo">Bienvenido</h1>
                <h2 id="subtitulo">¿Qué desea hacer?</h2>
            </div>
            <div id="contenedorFuncional">

                {{#if usuarioBasico}}
                <button class="btn-31" onclick="window.location.href = 'reportarIncidente/abierto'">
                    <span class="text-container">
                      <span class="text">Reportar incidente</span>
                    </span>
                  </button>
                  <button class="btn-31" onclick="window.location.href = 'reportarIncidente/cerrado'">
                    <span class="text-container">
                      <span class="text"> Cerrar incidente
                    </span>
                    </span>
                  </button>
                  <button class="btn-31" onclick="window.location.href = 'comunidades/{{miembro_id}}'">
                    <span class="text-container">
                      <span class="text">Unirme a comunidad</span>
                    </span>
                  </button>
                  {{/if}}

                  {{#if usuarioEmpresa}}
                  <button class="btn-31" onclick="window.location.href='rankings'">
                    <span class="text-container">
                      <span class="text">Ver Rankings</span>
                    </span>
                  </button>
                  {{/if}}

                  {{#if administrador}}
                   <button class="btn-31" onclick="window.location.href='rankings'">
                     <span class="text-container">
                       <span class="text">Ver Rankings</span>
                     </span>
                   </button>
                  <button class="btn-31" onclick="window.location.href='administrarUsuarios'">
                     <span class="text-container">
                        <span class="text">Administrar Usuarios</span>
                     </span>
                  </button>
                  <button class="btn-31" onclick="window.location.href='comunidades/{{miembro_id}}'">
                      <span class="text-container">
                         <span class="text">Administrar Comunidades</span>
                      </span>
                   </button>
                  <button class="btn-31">
                     <span class="text-container">
                        <span class="text">Administrar Empresas</span>
                     </span>
                  </button>
                  <button class="btn-31">
                     <span class="text-container" onclick="window.location.href='cargarEmpresas'">
                        <span class="text">Cargar Empresas</span>
                     </span>
                  </button>
                  {{/if}}
            </div>

        </div>
{{/partial}}
{{> templates/base }}
