{{> templates/base }}
{{#partial "tituloYcss"}}
        <link rel = "stylesheet" href = "/css/ReporteDeIncidente.css">
        <title>Reporte de Incidente</title>
{{/partial}}
{{> templates/base }}

    <body id="body">
        <header id="main-header">
            <a id="logo-header" href="#">
                <span class="site-name">Serviño</span>
                <span class="site-desc">Servicios/ Comunidades</span>
            </a>


            <nav>
                <ul>
                    <li class="nav-item"><a href="/menu">Inicio</a></li>
                    {{#if usuarioBasico}}
                    <li class="nav-item"><a href="/incidentes">Mis Incidentes</a></li>
                    <li class="nav-item"><a href="/sugerenciasDeRevision">Sugerencias de Revisión</a></li>
                    {{/if}}
                    <li class="nav-item"><a href="/perfil"><img src="/./images/userLogo2.png" alt="userImage" id="userImage" width="30" height="30"></a></li>

                </ul>
            </nav>
        </header>

        <div id="base">
            <div class="circulo">
                <img src="/./images/reporteImage.png" alt="userImage" id="reporteImage" width="100" height="100">
            </div>
                <form id="incidente">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Comunidad</label>
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>Seleccionar...</option>
                                <option value="1">Uno</option>
                                <option value="2">Dos</option>
                                <option value="3">Tres</option>
                            </select>
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Entidad</label>
                                <select class="form-select" id="inputGroupSelect01">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">Uno</option>
                                    <option value="2">Dos</option>
                                    <option value="3">Tres</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Establecimiento</label>
                                <select class="form-select" id="inputGroupSelect01">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">Uno</option>
                                    <option value="2">Dos</option>
                                    <option value="3">Tres</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Servicio</label>
                                <select class="form-select" id="inputGroupSelect01">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">Uno</option>
                                    <option value="2">Dos</option>
                                    <option value="3">Tres</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Fecha y Hora</span>
                                <input type="datetime-local" class="form-control" id="fechaYhoraInput">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">Estado</label>
                                <select class="form-select" id="inputGroupSelect01">
                                    {{#if abierto}}
                                        <option value="abierto" selected>Abierto</option>
                                        <option value="cerrado" disabled>Cerrado</option>
                                    {{else}}
                                        <option value="abierto" disabled>Abierto</option>
                                        <option value="cerrado" selected>Cerrado</option>
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Observaciones</span>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                            <button type="button" class="btn btn-secondary inicioSesion">Enviar</button>
                </form>
            </div>
    </body>

</html>
