{{> templates/base }}
{{#partial "tituloYcss"}}
        <link rel = "stylesheet" href = "css/SugerenciasDeRevisionDeIncidentes.css">
        <title>Sugerencia de revisión de incidentes</title>
{{/partial}}
{{> templates/base }}

 {{#partial "contenido"}}
        <div id="base">
            <h1>Solicitudes de Revisión Activas</h1>
            <div class="tarjetaRevision">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Entidad1</li>
                    <li class="list-group-item">Establecimiento1</li>
                    <li class="list-group-item">Servicio1</li>
                    <li class="list-group-item">Distancia1</li>
                </ul>
            </div>
            <div class="tarjetaRevision">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Entidad2</li>
                    <li class="list-group-item">Establecimiento2</li>
                    <li class="list-group-item">Servicio2</li>
                    <li class="list-group-item">Distancia2</li>
                </ul>
            </div>
            <div class="tarjetaRevision">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Entidad3</li>
                    <li class="list-group-item">Establecimiento3</li>
                    <li class="list-group-item">Servicio3</li>
                    <li class="list-group-item">Distancia3</li>
                </ul>
            </div>
            <div class="tarjetaRevision">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Entidad4</li>
                    <li class="list-group-item">Establecimiento4</li>
                    <li class="list-group-item">Servicio4</li>
                    <li class="list-group-item">Distancia4</li>
                </ul>
            </div>
        </div>
{{/partial}}
{{> templates/base }}
