{{> templates/base }}
{{#partial "tituloYcss"}}
        <link rel = "stylesheet" href = "/css/SugerenciasDeRevisionDeIncidentes.css">
        <title>Sugerencia de revisión de incidentes</title>
{{/partial}}
{{> templates/base }}

 {{#partial "contenido"}}
        <div id="base">
            {{#if noHayIncidentes}}
                <h1>No tenés solicitudes de revisión activas</h1>
            {{else}}
                <h1>Solicitudes de Revisión Activas</h1>
                <div>
                    {{#each incidentesCercanos}}
                        <div class="col">
                            <div class="tarjetaRevision">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{this.establecimiento.nombre}}</li>
                                    <li class="list-group-item">{{this.servicio.nombre}}: {{this.servicio.tipoNombre}}</li>
                                </ul>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}

        </div>
{{/partial}}
{{> templates/base }}